<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
    <% if logged_in? %>
      <a href="<%=user_url(current_user)%>"><%=current_user.username%></a>
      <form action="<%= session_url %>" method = "POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Sign Out</button>
      </form>
    <% else %>
      <a href="<%=new_user_url%>">Sign Up</a>

      <a href="<%=new_session_url%>">Sign In</a>
    <% end %>
    <a href="<%= subs_url %>">All Subs</a>
    </nav>
  </header>

  <body>
    <% if flash[:errors] %>
      <%= flash[:errors].join(", ") %>
    <% end %>
    <%= yield %>
  </body>
</html>
